.bgBar {
    background-color:#382819; 
    color: #fff;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create a column layout with Flexbox */
  .row {
    display: flex;
    margin: auto;
    height: 89.8vh;
    /* color: #fff; */
  }
  
  /* Left column (menu) */
  .left {
    flex: 35%;
    padding: 5%;
    padding-left: 50px;
  }
  
  .left h2 {
    padding-left: 8px;
  }
  
  /* Right column (page content) */
  .right {
    flex: 65%;
    padding: 15px;
  }
  
  /* Style the search box */
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: #fff;
    display: block
  }
  
  #myMenu li a:hover {
    color: black;
    background-color: #eee;
  }