body{
    margin: auto;
    padding: 2%;
}
.divBlan{
    background-image: url('https://i.pinimg.com/originals/2b/0c/1b/2b0c1b3477d70ef98cbb3fc4ef6fd617.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 15%;
    height: 200px;
}
.divLogin{
    display: inline-block;
}