body{
    margin: auto;
    padding: 2%;
    font-size: 26px;
    background: #f3f3f3;
}
.divBlan{
    background-image: url('https://i.pinimg.com/originals/2b/0c/1b/2b0c1b3477d70ef98cbb3fc4ef6fd617.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 15%;
    height: 200px;
    float: left;
}
.divLogin{
    background: #fff;
    display: inline-block;
    float: left;
    padding: 15%;
    height: 200px;
}
input{
    padding: 3%;
    margin: 1%;
    border-radius: 6px;
    width: 93%;
    display: block;
}
button{
    padding: 3%;
    margin: 1%;
    border-radius: 6px;
    width: 500px;
    display: block;
}