body{
    margin-top: 0px;
    font-size: 18px;
    background: #18110b;
}
.row{
    margin: auto;
    width: 100%;
}
.divBlan{
    background-image: url('https://images.unsplash.com/photo-1527678357412-ef45dfbd9ecc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    float: left;
}
.divLog{
    background-color: #fff;
    padding: 5%;
    height: 100vh;
}
input{
    padding: 3px;
    margin: 3px;
    border-radius: 6px;
    width: 100%;
}
button{
    padding: 1%;
    margin: 3px;
    border-radius: 6px;
    width: 100%;
    font-size: 20px;
}
.yes{
    background: #41250d;
    color: #fff;
    font-size: 18px;
    border: solid #41250d;
}
.yes:hover{
    background: #fff;
    color: #41250d;
}
.no{
    font-size: 18px;
    border: solid #9b8470;
    color: #856e5a;
}
.no:hover{
    background: #856e5a;
    color: #fff;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}