.bg{
    background: #fff;
    padding: 3%;
}
table{
    width: 100%;
}
td, th {
    text-align: left;
    padding: 1%;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
button{
    float: right;
    width: 49%;
}
.b{
    background: #41250d;
    color: #fff;
    border: solid #41250d;
    border-radius: 5px;
}
.b:hover{
    background: #fff;
    color: #41250d;
}
.w{
    float: left;
    background: #fff;
    border: solid #9b8470;
    color: #856e5a;
    border-radius: 5px;
}
.w:hover{
    background: #9b8470;
    color: #fff;
}
.r{
    text-align: right;
}
input{
    margin: 3px;
    width: 80%;
}
.fr{
    margin-top: 5%;
    float: right;
}