<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/loginAndsignup.css">
    <title>Index</title>
</head>
<body>
    <p id="p"></p>
    <div class="row">
        <div class="col-6 divBlan"></div>
        <form class="col-6 divLog" action="../api/controls.php?ac=0" method="post">
            <center>
               <h2>Login</h2> <hr>
            </center>
            Name
            <input type="text" name="username">
            Password
            <input type="password" name="password"><br><br>
            <button class="yes" type="submit">Login</button>
        </form>
        <a href="SignUp.html"><button class="no">SignUp</button></a>    
    </div>
    <!-- <script src="js/login.js"></script> -->
</body>
</html>