<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Index</title>
</head>
<body>
    <div class="divAll">
        <div class="divBlan"></div>
        <div class="divLogin">
            <center>
                Login <br><br>
                <input type="text" id="username">
                <input type="password" id="password">
                <button onclick="loginClick()">Login</button>
                <a href="SignUp.html"><button>SignUp</button></a>
            </center>
        </div>        
    </div>

</body>
</html>