<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Index</title>
</head>
<body>
    <div class="divBlan"></div>
    <div class="divLogin">
        <div><h2>Login</h2></div>
        <input type="text" name="Username">
        <input type="password" name="Userpass">
        <button onclick="login()">Login</button>
        <a href="SignUp.html"><button>SignUp</button></a>
    </div>
</body>
</html>