<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>SignUp</title>
</head>
<body>
    <div class="divBlan"></div>
    <div class="divLogin">
        <div><h2>Login</h2></div>
        <input type="text" id="username">
        <input type="password" id="password">
        <input type="password" id="confirm">
        <button onclick="signupClick()">SignUp</button>
        <a href="index.html"><button>Login</button></a>
    </div>
</body>
</html>