<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>SignUp</title>
</head>
<body>
    <div class="divBlan"></div>
    <div class="divLogin">
        <div><h2>Login</h2></div>
        <div><a href="index.html">Login</a></div>
        <input type="text">
        <input type="password">
        <button type="reset">Reset</button>
        <button onclick="SignUp()">SignUp</button>
    </div>
</body>
</html>