<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Aboreto' rel='stylesheet'>
    <link rel="stylesheet" href="css/index.css">
    <title>SignUp</title>
</head>
<body>
    <div class="divAll">
        <div class="divBlan"></div>
        <div class="divLogin">
            <center>
                <h2>SignUp</h2>
            </center>
            Name
            <input type="text" id="username">
            Password
            <input type="password" id="password">
            Confirm password
            <input type="password" id="confirm">
            <button class="yes" onclick="signupClick()">SignUp</button>
            <a href="index.html"><button class="no">Login</button></a>
        </div>
    </div>
    <script src="js/login.js"></script>
</body>
</html>